skanderharoun
#4559

skanderharoun — 18/05/2022
bonsoir
Oussama — 18/05/2022
bonsoir
skanderharoun — 18/05/2022
sh7alkom cv
Oussama — 18/05/2022
cv hamd wenty ?
skanderharoun — 18/05/2022
super hmd
ahmedzribi — 18/05/2022
Bonsoir
skanderharoun — 20/05/2022
bonsoir mes amie
s
Med Becha — 20/05/2022
bonsoir
skanderharoun — 20/05/2022
ken t7ib ghodwa 12h na3mlo 9hiwa
Oussama — 20/05/2022
bonsoir
ahmedzribi — 20/05/2022
Bonsoir
ahmedzribi — 21/05/2022
Simple Card Project Solution
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
Afficher plus
index.html
1 Ko
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
Afficher plus
style.css
1 Ko
ahmedzribi — 21/05/2022
Box shadow generator
https://cssgenerator.org/box-shadow-css-generator.html
Box Shadow CSS Generator
Box Shadow CSS Generator
A box-shadow CSS Generator tool to quickly generate box-shadow CSS declarations.
Image
ahmedzribi — 21/05/2022
CSS Basics Workshop 2
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
Afficher plus
index.html
4 Ko
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
Afficher plus
style.css
2 Ko
ahmedzribi — 21/05/2022
Project: Success Alert
https://colabs.devmastery.tech/html-and-css/success-alert
ahmedzribi — 21/05/2022
Semantic HTML Workshop
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
Afficher plus
index.html
3 Ko
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
Afficher plus
style.css
1 Ko
ahmedzribi — 21/05/2022
Vous pouvez avancer sur la plateforme jusqu'à arriver au lab
Semantic HTML: Video and embed elements
https://labs.devmastery.tech/learn/html-and-css/semantic-html/video-and-embed-elements
ahmedzribi — 22/05/2022
Success Alert Solution
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
Afficher plus
style.css
1 Ko
ahmedzribi — 22/05/2022
https://flexboxfroggy.com/
Flexbox Froggy
A game for learning CSS flexbox
Image
ahmedzribi — 22/05/2022
FlexBox Workshop
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
Afficher plus
index.html
1 Ko
.container {
        background-color: lightblue;
        /*padding: 10px;*/
        display: flex;
        
        flex-direction: row;
Afficher plus
style.css
1 Ko
Users List Project
https://colabs.devmastery.tech/html-and-css/users-list
ahmedzribi — 22/05/2022
Google Search: font awesome cdn link
https://cdnjs.com/libraries/font-awesome
ahmedzribi — 22/05/2022
Vous pouvez avancer sur la plateforme jusqu'à arriver au lab
CSS Flexbox: Align-self property
https://labs.devmastery.tech/learn/html-and-css/css-flexbox/align-self-property
Oussama — 22/05/2022
D'accord
ahmedzribi — 24/05/2022
Bonjour,
c'est confirmé: nous avons une séance demain inchallah (Mercredi) de 14:00 à 18:00.
Bonne journée
skanderharoun — 24/05/2022
Ok c'est confirmé pour moi
med — 24/05/2022
ok nchalah
bonne journée
Oussama — 24/05/2022
OK nchalah
Med Becha — 24/05/2022
html5 tags are missing
Image
ahmedzribi — 25/05/2022
User List Solution
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
Afficher plus
style.css
1 Ko
ahmedzribi — 25/05/2022
Grid Workshop 1
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
Afficher plus
index.html
1 Ko
.container {
        border: 4px blue solid;
        width: 400px;
        height: 500px;
        background-color: lightgray;
        display: grid;
Afficher plus
style.css
2 Ko
ahmedzribi — 25/05/2022
https://cssgridgarden.com/
Grid Garden
A game for learning CSS grid layout
Image
ahmedzribi — 25/05/2022
Project: Calculator
https://colabs.devmastery.tech/html-and-css/calculator/ 
ahmedzribi — 29/05/2022
Grid Workshop 2
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
Afficher plus
index.html
1 Ko
.container {
        border: 4px blue solid;
        width: 400px;
        height: 200px;
        background-color: lightgray;
        display: grid;
Afficher plus
style.css
1 Ko
ahmedzribi — 29/05/2022
Calculator Project Solution 
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
Afficher plus
index.html
2 Ko
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
Afficher plus
style.css
1 Ko
Grid Workshop 3 
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
Afficher plus
index.html
1 Ko
.container {
        border: 4px blue solid;
        height: 300px;
        width: 300px;
        background-color: lightgray;
        display: grid;
Afficher plus
style.css
1 Ko
ahmedzribi — 29/05/2022
CSS Responsive Workshop
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
Afficher plus
index.html
1 Ko
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
Afficher plus
style.css
2 Ko
ahmedzribi — 29/05/2022
https://cssgradient.io/
CSS Gradient
CSS Gradient — Generator, Maker, and Background
As a free css gradient generator tool, this website lets you create a colorful gradient background for your website, blog, or social media profile.
CSS Gradient — Generator, Maker, and Background
Pricing Project
https://colabs.devmastery.tech/html-and-css/pricing/
ahmedzribi — 29/05/2022
Advanced CSS Workshop 1
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
Afficher plus
index.html
1 Ko
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
Afficher plus
style.css
2 Ko
ahmedzribi — 29/05/2022
Avancez sur la plateforme jusqu'à arriver au lab
Advanced CSS: Transform property with pseudo-classes
https://labs.devmastery.tech/learn/html-and-css/advanced-css/transform-property-with-pseudo-classes
ahmedzribi — Hier à 15:53
Pricing Project Solution
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
Afficher plus
index.html
3 Ko
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
Afficher plus
style.css
3 Ko
ahmedzribi — Hier à 16:52
Dynamic Sidebar Project
https://colabs.devmastery.tech/html-and-css/dynamic-sidebar/
Advanced CSS Workshop 2
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
Afficher plus
index.html
1 Ko
#box {
    width: 200px;
    height: 200px;
    background-color: red;
    margin-bottom: 30px;
    /*
Afficher plus
style.css
2 Ko
ahmedzribi — Hier à 18:09
Image
ahmedzribi — Hier à 18:21
Business Land Project
https://colabs.devmastery.tech/html-and-css/business-land/
Med Becha — Aujourd’hui à 17:06
https://www.youtube.com/watch?v=cARGOrtiWt4&t=12s
YouTube
Codezilla
Build a portfolio website using HTML & CSS - بناء موقع كامل
Image
ahmedzribi — Aujourd’hui à 19:41
Business Land Project Solution
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #192440;
    --secondary-color: #00ffad;
    --tertiary-color: #292b2c;
    --quaternary-color: #ffffff;
}

html {
    font-size: 10px;
    font-family: Ubuntu, sans-serif;
    line-height: 1.5;
}

/* Write your code below */

/* BANNER SECTION START */
#banner {
    background-image: url('./images/banner-bg-image.jpg');
    color: var(--quaternary-color);
    padding: 6.4rem 0;
}

#banner p {
    font-size: 2rem;
    margin: 2.4rem 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-width: 80px;
}

header a {
    text-decoration: none;
    color: var(--quaternary-color);
    font-size: 2rem;
}

.btn {
    text-align: center;
    padding: 1.2rem 3rem;
    border: 0.2rem solid transparent;
    margin: 2.4rem 0;
    border-radius: 2.2rem;
    cursor: pointer;
    font-size: 1.6rem;
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
/* BANNER SECTION END */

/* PROTECTION SECTION START */
.protection {
    text-align: center;
}
.protection .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.cards .card {
    flex: 1
}

.protection h4 {
    font-size: 2.4rem;
    margin-bottom: 0.8rem;
}

.protection h2 {
    margin: 4.8rem 0;
}
/* PROTECTION SECTION END */

/* FEATURES SECTION START */
.features {
    margin-top: 7rem;
}

.features .feature {
    display: flex;
    align-items: center;
... (220 lignes restantes)
Réduire
style.css
6 Ko
﻿
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #192440;
    --secondary-color: #00ffad;
    --tertiary-color: #292b2c;
    --quaternary-color: #ffffff;
}

html {
    font-size: 10px;
    font-family: Ubuntu, sans-serif;
    line-height: 1.5;
}

/* Write your code below */

/* BANNER SECTION START */
#banner {
    background-image: url('./images/banner-bg-image.jpg');
    color: var(--quaternary-color);
    padding: 6.4rem 0;
}

#banner p {
    font-size: 2rem;
    margin: 2.4rem 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-width: 80px;
}

header a {
    text-decoration: none;
    color: var(--quaternary-color);
    font-size: 2rem;
}

.btn {
    text-align: center;
    padding: 1.2rem 3rem;
    border: 0.2rem solid transparent;
    margin: 2.4rem 0;
    border-radius: 2.2rem;
    cursor: pointer;
    font-size: 1.6rem;
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
/* BANNER SECTION END */

/* PROTECTION SECTION START */
.protection {
    text-align: center;
}
.protection .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.cards .card {
    flex: 1
}

.protection h4 {
    font-size: 2.4rem;
    margin-bottom: 0.8rem;
}

.protection h2 {
    margin: 4.8rem 0;
}
/* PROTECTION SECTION END */

/* FEATURES SECTION START */
.features {
    margin-top: 7rem;
}

.features .feature {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 45px 0;
}

.feature-1-wrapper {
    background-image: linear-gradient(to bottom right,#ffffff 0% 50%,#00FFAD 50% 100%)
}

.feature-2-wrapper {
    background-color: var(--secondary-color);
}
.btn-primary {
    background-color: var(--primary-color);
    color: var(--quaternary-color);
}

.features img {
    max-width: 50%;
}
/* FEATURES SECTION END */

/* PRICING SECTION START */
.pricing {
    text-align: center;
}
.pricing .cards {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.pricing .card {
    background-color: lightgray;
    border-radius: 0.5rem;
    padding: 2.4rem 1.5rem;
    width: 30rem;
}

.pricing h4 {
    font-size: 2.4rem;
}

.pricing span {
    font-size: 9rem;
}

.pricing p {
    padding: 0.5rem 0;
}

.pricing .card.dark {
    background-color: var(--primary-color);
    color: var(--quaternary-color);
}

.btn-outline-primary {
    border-color: var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
}

.pricing h2 {
    margin: 4.8rem 0;
}

/* PRICING SECTION END */

/* PARTNERS SECTION START */
.partners {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 4.8rem 0;
    align-items: center;
}
/* PARTNERS SECTION END */

/* CONTACT SECTION START */
#contact {
    background-image: url('./images/contact-bg-image.jpg');
    color: var(--quaternary-color);
    padding: 6.4rem 0;
}

#contact .container {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
}

.first-row {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
input, textarea {
    background-color: transparent;
    border: solid 1px var(--secondary-color);
    border-radius: 0.4rem;
    color: var(--quaternary-color);
    padding: 0.8rem 1.2rem;
    outline: none;
}
.fullwidth {
    width: 100%;
}
.list-unstyled {
    list-style: none;
    margin-top: 2.5rem;
}
.list-unstyled li {
    padding: 0.4rem;
}
.contact-info, .contact-form {
    flex-grow: 1;
}

.first-row .form-group {
    flex-grow: 1;
}
/* CONTACT SECTION END */

/* FOOTER SECTION START */
footer {
    background-color: var(--primary-color);
    padding: 3.2rem;
    color: var(--quaternary-color);
    font-size: 1.6rem;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

#social-media {
    display: flex;
    gap: 2rem
}

#social-media a{
    background-color: var(--quaternary-color);
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    color: var(--primary-color);
}
/* FOOTER SECTION END */




/* Write your code above */

h1 {
    font-size: 7.2rem;
    margin: 4.8rem 0;
    line-height: 1.1;
}

h2 {
    font-size: 4.5rem;
}

p, li, label {
    font-size: 1.6rem;
}

.font-weight-bold {
    font-weight: 700;
}

.font-weight-light {
    font-weight: 300;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
